@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@theme {
  --color-brand: #ef700e;
  --color-secondaryTxt: #1f1f1f !important;
  --inset-shadow-card: inset 0 200px 3px rgba(239, 112, 14, 0.25);
  --font-rubik: "Rubik", sans-serif;
}
